@mixin animationEnter{
    @keyframes dropDown{
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    animation: dropDown 0.4s ease forwards;

}