$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';
$xxl: '1360px';
@mixin screen-xxl { 
    @media screen and (max-width: $xxl) {     
        @content;   
    } 
}  
@mixin screen-sm { 
    @media screen and (max-width: $sm) {     
        @content;   
    } 
}  

@mixin screen-md {  
    @media screen and (max-width: $md) {       
        @content;   
    } 
}  

@mixin screen-lg {  
    @media screen and (max-width: $lg) {       
        @content;   
    } 
}

@mixin screen-min-lg {  
    @media screen and (min-width: $lg) {       
        @content;   
    } 
}

@mixin screen-xl {  
    @media screen and (max-width: $xl) {       
        @content;   
    } 
}