.stack-flex{
    @include screen-lg{
        flex-direction: column !important;
    }
}
.prdDetails{
    // grid-template-columns: auto auto;
    // gap: 10rem;
    padding: 3rem;
    width: 60rem;
    @include screen-lg{
        width: 100%;
    }
    margin: 0 auto;
    &-info{
        ul{
            list-style-type: none;
        }
    }
    &Dot,img{
        object-fit: cover;
        border-radius: 1rem;
        width: inherit;
        height: inherit;
    }
    .slick-dots.slick-thumb{
        display: grid !important;
        gap: 1rem;
        grid-template-columns: auto auto auto auto;
        li{
            box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.301);
            border-radius: 1rem;
            &.slick-active{
                box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.678);
            }
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin: 0;
            img{
                object-fit: cover;
                width: inherit;
                height: 6rem;
                transition: all 0.25s ease-in-out;
            }
            &:hover img{
                transform: scale(1.5);
            }
        }
    }
    .slick-slider{
        width: inherit;
        height: inherit;
    }
    .slick-list{
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.301);
        height: 30rem;
        @include screen-lg{
            height: 50rem;
        }
        overflow: hidden;
        border-radius: 1rem;
        margin-bottom: 1rem;
        &>div{
            height: inherit;
            &>div{
                height: inherit;
                &>div{
                    height: inherit;
                    &>div{
                        height: inherit;
                        img{
                            height: inherit;
                        }
                    }
                }
            }
        }
    }
    .slick-dots{
        position: static;
    }
    &-slide{
        h2{
            font-size: 1.7rem;
        }
        width: 20rem;
        @include screen-lg{
            width: 100%;
        }
    }
    &-content{
        font-size: 1.5rem;
        width: 100%;
        gap: 1rem;
        flex-direction: column;
    }
    &-title{
        font-size: 3rem;
    }
}