.caption{
    width: 100%;
    background: #333;
    padding:1rem;
    color: #fff;
    box-shadow: 1px 2px 5px 1px #333;
    span{
        text-transform: uppercase;
    }
    a{
        &:hover{
            text-decoration: underline;
        }
        color:rgb(0, 185, 145);
    }
}
.card_grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @include screen-xxl{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include screen-xl{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
    }
    @include screen-sm{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    gap: 2rem;
    margin: 4rem 0;
    padding: 0;
    list-style-type: none;
}
.card{
    &_title{
        font-size: 1.2rem;
        height: 3rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &_action{
        width: 100%;
        margin: .5rem 0 ;
        display: flex;
        justify-content: space-between;
    }
    &_Button{
        display: inline-block;
        padding: 1rem;
        background-color: rgb(224, 64, 91);
        color: #fff;
        text-transform: uppercase;
        box-shadow: 1px 1px 5px 2px rgba(158, 158, 158, 0.541);
        word-spacing: 4px;
        transition: all 0.28s ease-in-out;
        &:hover{
            background-color: rgb(253, 253, 253);
            color: rgba(253, 94, 94, 0.733);
        }
    }
    position: relative;
    display: block;
    height: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 5px 2px rgba(51, 51, 51, 0.541);
    img{
        width: inherit;
        height: 100%;
        transition: all 0.3s ease-in;
    }
    &:hover{
        img{
            transform: scale(1.1);
        }
        box-shadow: 1px 1px 8px 2px #33333387;
    }
    &_image{
        width: 100%;
        border-radius: inherit;
        object-fit: cover;
    }
    &_cross{
        text-decoration: line-through;
        padding-right: 0.5rem;
    }
    &_price{
        font-size: 1.1rem;
        font-weight: bolder;
        padding-right: 0.5rem;
    }
    &_overlays{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        font-size: 0.8rem;
        color: #e0405b;
        background: #02020283;
        transform: translateY(9%);
        transition: all 0.3s ease-in-out;
        &:hover{
            background: rgb(15, 15, 15);
            transform: translateY(0);
            @include screen-md{
                
            }
        }
    }
    &_hdr{
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        &_wrapper{
            width: 100%;
        }
    }
}
.item{
     width: fit-content;
    .card{
        box-shadow: none;
        height: auto;
        transform: scale(0.85);
        &_image{
            object-fit: contain !important;
        }
        &:hover{
            box-shadow: 1px 2px 4px 1px rgba(255, 255, 255, 0.329);
            transform: scale(0.87);
        }
    }
}
.cate_group{
    padding: 1rem 0;
    margin: 0 -1rem;
    .cols_2{
        @include screen-md{
            grid-column: 1 / span 1;
        }
    }
}
.cate_box{
    box-shadow: 1px 2px 4px 1px rgba(61, 61, 61, 0.329);
    margin: 1rem;
    background: #333;
    position: relative;
    height: 18rem;
    overflow: hidden;
    &:hover{
        box-shadow: 1px 2px 4px 5px hsla(0, 100%, 57%, 0.205);
        transform: scale(1.01); 
        z-index: 1;
        & img{
            transform: scale(1.5);
        }
    }
    & .cate_title{
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
        text-align: center;
        line-height: 18rem;
        position: absolute;
        font-size: 3rem;
    }
    img{
        width: 100%;
        object-fit: cover;
        height: inherit;
        border-radius: inherit;
    }
}
.more{
    width: 100%;
    a{
        text-align: center;
        width: 6rem;
        padding: 0.8rem;
        background:#333;
        color: #fff;
        display: block;
        margin: 0 auto;
        &:hover{
            background: #e0405b;
            color: rgb(255, 255, 255);
            box-shadow: 1px 2px 4px 5px hsla(0, 100%, 57%, 0.205);
            transform: scale(1.2); 
        }
    }
}