.sidebar{
    margin: 4rem 0;
    width: 100%;
    @include screen-xl{
        text-align: center;
    }
    @include screen-md{
        width: 100%;
        margin: 2rem 0 0;
    }
    height: 100%;
    background: #333;
    transition: inherit;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.329);
    .menuSideBar{
        ul{
            transition: inherit;
            list-style-type: none;
            li{
                transition: inherit;
                overflow: hidden;
                a{
                    display: block;
                    width: 100%;
                    font-size: 1.2rem;
                    padding: 1rem;
                    color: #fff;
                    transition: inherit;
                    &:hover{
                        font-size: 1.3rem;
                        transform: scale(1.05);
                        background:lightcoral;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
.product_items{
    gap: 2rem;
    @include screen-md{
        flex-direction: column;
        gap: 0;
    }
}