.sidebar{
    margin: 4rem 0;
    width: 80rem;
    @include screen-xl{
        text-align: center;
        width:  50rem;
    }
    @include screen-lg{
        width:  26rem;
    }
    @include screen-md{
        width: 100%;
        margin: 2rem 0 0;
    }
    height: 100%;
    background: #333;
    border-radius: 1rem;
    transition: inherit;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.329);
    .menuSideBar{
        ul{
            transition: inherit;
            list-style-type: none;
            li{
                transition: inherit;
                a{
                    display: block;
                    width: 90%;
                    font-size: 1.2rem;
                    padding: 1rem;
                    color: #fff;
                    margin: 1rem auto;
                    transition: inherit;
                    border-radius: 1rem;
                    &:hover{
                        transform: scaleY(1.1);
                        background:lightcoral;
                    }
                }
            }
        }
    }
}
.product_items{
    gap: 2rem;
    @include screen-md{
        flex-direction: column;
        gap: 0;
    }
}